.my-season-container {
    width: 900px;
    min-height: 100vh;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .chart-container{
        display: flex;
        justify-content: center;
        margin: 40px auto;
    }
    button {
        margin-top:40px
    }
}

.my-team-history {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
}

.my-team-history th,
.my-team-history td {
    text-align: center;
    border: 1px solid #ddd;
}

.my-team-history th {
    background-color: #1976d2;
    font-weight: bold;
    color: white;
}

@media (max-width: 768px) {
    .my-team-history th,
    .my-team-history td {
        padding: 6px;
    }
}
.team-name-data {
    font-size: 18px;
    font-weight: 700;
}
