.error-page-container {
    height: 100vh;
    margin-top: 180px;
    background: url('../../assets/images/404football.jpg') no-repeat center center fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
  }
  