// input[type='file'] {
//     color: transparent;
//   }

  .add-picture-btn{
   
  }
  input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    width: 110px;
    border-radius: 5px;
    margin-right: 10px;
}