.match-container {
    height: 100vh;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .result-teams-container {
        width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        margin: 10px auto;
        background-image: url(https://img.freepik.com/premium-photo/football-stadium-with-stands-full-fans-waiting-night-game-d-rendering_207634-4274.jpg?w=2000);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 400px;
        .match-timer {
            margin-top: 40px;
        }
        .home-team-container {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        .away-team-container {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
    }
    h2 {
        margin: 10px;
        font-size: 32px;
    }
    span {
        font-size: 53px;
    }
}

.tableContainer {
    display: flex;
    margin :40px;
}

.table-match {
    width: 700px;
    border-spacing: 10px;
    *border-collapse: expression("separate", cellSpacing= "10px");
    th {
        text-align: center;
    }
    td {
        text-align: center;
        margin: 12px 12px 12px 12px;
        padding: 12px 12px 12px 12px;
    }
}

.logs-container {
    max-height: calc(
        3em * 5 + 1em
    ); // 1.5em for each list item and 1em for the header
    overflow-y: auto;
    padding: 1em;
    min-width: 450px;
    padding-top: 0px;

}

.logs-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.logs-container li {
    line-height: 1.5em;
}

.logs-container-border {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    max-height: 370px;
    overflow-y: auto;
    min-width: 450px;
    padding-top: 0px;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

*::-webkit-scrollbar-track {
    background: #fffdfd;
}

*::-webkit-scrollbar-thumb {
    background-color: #1976d2;
    border-radius: 10px;
    border: 2px solid #ffffff;
    height: 1px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #021050;
}

.result-teams-container-wrapper {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 10px auto;
    height: 400px;
}
