.home-container {
    min-height: 100vh;
    max-width: 99%;
    margin:0 auto;

    div{
        margin-bottom: 5px;
        
    }
    p{
        max-width: 90%;
    }
}

.introImg {
    max-width: 100%;
  }