@import "./mixins";
@import "./variables";

.pitch-background {
    background: url("https://fantasy.premierleague.com/static/media/pitch-default.dab51b01.svg")
        center top / 825px 660px no-repeat;
    height: 100vh;
    width: 820px;
    height: 880px;
    position: relative;
    border: 1px solid gray;
    background-color: #00ae55;
}

.free-space {
    width: 70px;
    height: 99px;
    background-color: transparent;
}

.goalkeeer-card {
    width: 150px;
    height: 99px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-position-container {
    background-color: #47cd89;
    width: fit-content;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    opacity: 90%;
    color: #37003c;
    font-weight: 600;
}
.goalkeeer-card:hover {
    cursor: pointer;
}

.substitute-five,
.substitute-one,
.substitute-two,
.substitute-three,
.substitute-four {
    background-color: #214e3474;
    border-radius: $borderRadius;

    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

    @keyframes color {
        0% {
            background-color: #214e34;
        }
        25% {
            background-color: #3e614d;
        }
        50% {
            background-color: #5f7c67;
        }
        75% {
            background-color: #8aa88f;
        }
        100% {
            background-color: #b9d0ba;
        }
    }
}

.change-icon {
    position: absolute;
}
.defender {
    @include card;
}

.midfelder {
    @include card;
}

.striker {
    @include card;
}

.row-one {
    @include row(
        $width: 500px,
        $height: 100px,
        $left: 157px,
        $top: 20px,
        $gap: 0
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button:hover {
        cursor: pointer;
    }
}

.row-one-change {
    .card-jersey {
        background-color: #214e3474;
        border-radius: $borderRadius;

        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

        @keyframes color {
            0% {
                background-color: #214e34;
            }
            25% {
                background-color: #3e614d;
            }
            50% {
                background-color: #5f7c67;
            }
            75% {
                background-color: #8aa88f;
            }
            100% {
                background-color: #b9d0ba;
            }
        }
    }
    @include row(
        $width: 500px,
        $height: 100px,
        $left: 157px,
        $top: 20px,
        $gap: 0
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-two {
    @include row(
        $width: 550px,
        $height: 100px,
        $left: 93px,
        $top: 150px,
        $gap: 80px
    );
}
.row-two-change {
    // opacity: 50%;
    // background-color: #37003c;
    .card-jersey {
        background-color: #214e3474;
        border-radius: $borderRadius;

        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

        @keyframes color {
            0% {
                background-color: #214e34;
            }
            25% {
                background-color: #3e614d;
            }
            50% {
                background-color: #5f7c67;
            }
            75% {
                background-color: #8aa88f;
            }
            100% {
                background-color: #b9d0ba;
            }
        }
    }
    @include row(
        $width: 550px,
        $height: 100px,
        $left: 93px,
        $top: 150px,
        $gap: 80px
    );
}

.row-three {
    @include row(
        $width: 550px,
        $height: 100px,
        $left: 135px,
        $top: 330px,
        $gap: 10px
    );
}

.row-three-change {
    // opacity: 50%;
    // background-color: #37003c;
    .card-jersey {
        background-color: #214e3474;
        border-radius: $borderRadius;

        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

        @keyframes color {
            0% {
                background-color: #214e34;
            }
            25% {
                background-color: #3e614d;
            }
            50% {
                background-color: #5f7c67;
            }
            75% {
                background-color: #8aa88f;
            }
            100% {
                background-color: #b9d0ba;
            }
        }
    }
    @include row(
        $width: 550px,
        $height: 100px,
        $left: 135px,
        $top: 330px,
        $gap: 10px
    );
}

.row-four {
    @include row(
        $width: 500px,
        $height: 100px,
        $left: 125px,
        $top: 510px,
        $gap: 0
    );
}
.row-four-change {
    // opacity: 50%;

    .card-jersey {
        background-color: #214e3474;
        border-radius: $borderRadius;

        animation-name: color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @keyframes color {
            0% {
                background-color: #1976d2;
            }
            // 25% {
            //   background-color: #262155;
            // }
            // 50% {
            //   background-color: #5f4022;
            // }
            // 75% {
            //   background-color: #722323;
            // }
            100% {
                background-color: #ffffff;
            }
        }
    }
    @include row(
        $width: 500px,
        $height: 100px,
        $left: 125px,
        $top: 510px,
        $gap: 0
    );
}

.row-five {
    @include row(
        $width: 820px,
        $height: 180px,
        $left: 0,
        $top: 700px,
        $gap: 30
    );
    border-top: 2px solid #ffffff;
    background-color: #5a9e90;
    border-radius: 15px;
}
.row-five-change {
    @include row(
        $width: 820px,
        $height: 100px,
        $left: 0,
        $top: 690px,
        $gap: 30
    );
}

.container {
    display: flex;
    justify-content: center;
    margin: 200px 
    // auto;
}

.players-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.player-name-container {
    background-color: #37003c;
    color: #ffffff;
    width: 150px;
}

.pitch-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    border-radius: 20px;
    .pitch-background {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.header-data {
    background-image: linear-gradient(
        to right,
        rgb(0, 255, 135),
        rgb(2, 239, 255)
    );
    font-size: 19px;
    border-radius: 5px;
    width: fit-content;
    padding: 3px 5px;
    font-weight: 700;
    margin: 10px;
}

#table-pitch {
    border-collapse: collapse;
    td {
        font-weight: 600;
        font-size: 15px;
    }

    tr {
        border-bottom: 1px solid rgb(220, 214, 214);
    }

    tr:hover {
        background: rgb(238, 174, 202);
        background: radial-gradient(
            circle,
            rgba(238, 174, 202, 0.219) 37%,
            rgba(148, 188, 233, 0.358) 100%
        );
    }
}

.save-team-button {
    width: 400px;
    height: 2rem;
    // background-image: linear-gradient(
    //     to right,
    //     rgb(0, 255, 135),
    //     rgb(2, 239, 255)
    // );
    background-color: #1976d2;
    font-size: 19px;
    border: 1px solid #37003c;
    margin: 20px;
    border-radius: $borderRadius;
    color: #ffffff;

    &:hover {
        cursor: pointer;
    }
    &:disabled {
        background-color: #1976d2b4;
        cursor: not-allowed;
    }
}

.budget-container {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to right,
        rgb(0, 255, 135),
        rgb(2, 239, 255)
    );
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 2px solid #ffffff;

   

    .logo-container {
        min-width: 150px;
        width: 150px;
        max-width: 150px;
    }
    .team-name-container {
        flex-grow: 1;
        width: 440px;
        max-width: 440px;
        box-sizing: border-box;
    }
}

.add-remove-btn {
    background-image: linear-gradient(
        to right,
        rgb(0, 255, 135),
        rgb(2, 239, 255)
    );
    border: none;
    border-radius: $borderRadius;
    min-width: 65px;
    &:hover {
        cursor: pointer;
    }
}
